<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appIdentifier</key>
	<string>1168485545</string>
	<key>buglifeIdentifier</key>
	<string>zABHFQBQuM6ZzTTXZoRDDwtt</string>
	<key>defaultLatitude</key>
	<string>6.2442</string>
	<key>defaultLongitude</key>
	<string>-75.5812</string>
</dict>
</plist>
